<footer class="footer" id="contacto">
  <div>
    <h3>AMAS lo hacemos posible</h3>
    <p>Detalles personalizados, sublimación, papelería creativa, impresión 3D y mucho más.</p>
  </div>

  <div>
    <h4>Enlaces</h4>
    <a href="#inicio">Inicio</a>
    <a href="#creaciones">Creaciones</a>
    <a href="#categorias">Categorías</a>
  </div>

  <div>
    <h4>Contacto</h4>
   <a
  class="floating-whatsapp"
  href="https://wa.me/573216499629?text=Hola,%20quiero%20más%20información%20sobre%20sus%20productos"
  target="_blank"
  aria-label="Contactar por WhatsApp"
>
  WhatsApp
</a>
    <p>Colombia</p>
  </div>
</footer>
