ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__Postgres=Host=amas-postgres;Port=5432;Database=amas_core;Username=amas_user;Password=CAMBIAR_PASSWORD

Redis__Connection=amas-redis:6379
Redis__Password=CAMBIAR_PASSWORD

MediaStorage__Provider=Local
MediaStorage__LocalPath=storage/media
MediaStorage__PublicBaseUrl=/media
MediaStorage__MaxFileBytes=5242880
MediaStorage__AllowedContentTypes__0=image/jpeg
MediaStorage__AllowedContentTypes__1=image/png
MediaStorage__AllowedContentTypes__2=image/webp

Jwt__Issuer=amas-api
Jwt__Audience=amas-client
Jwt__Secret=CAMBIAR_SECRET_LARGO_Y_SEGURO
Jwt__ExpirationMinutes=60
Auth__AdminEmail=admin@amas.local
Auth__AdminPassword=CAMBIAR_PASSWORD_ADMIN

Swagger__Enabled=false
Cors__AllowedOrigins__0=https://amaslohaceposible.cloud
